@inject IRageApiService RageApiService
@inject RedirectService RedirectService

<div class="card">
    <div class="card-header">
        Sign Up
    </div>
    <div class="card-body">
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <div class="form-group mb-3">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" readonly required @bind-value="Model.Email">
                    <label for="email">Email address</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="form-floating">
                        <input type="password" class="form-control" id="password" required @bind-value="Model.Password">
                        <label for="password">Password</label>
                </div>
            </div>

           
            <!-- Wizard Buttons -->
            <div class="d-flex justify-content-end mb-3 wizard-buttons">
                <button type="button" class="btn btn-secondary me-2" @onclick="HandleBackClick">
                    Back
                </button>
                <div>
                    <button type="submit" class="btn btn-primary">Next</button>
                </div>
            </div>
        </EditForm>
        <!-- Separator -->
        <hr />
        <!-- Paragraph -->
        <p class="text-center">or sign up with a social provider</p>

        <div class="d-flex justify-content-around social-buttons">
            @if (Model?.Manifest?.SocialIdps != null)
            {
                @foreach (var idp in Model.Manifest.SocialIdps)
                {
                    <button type="button" class="btn btn-info" @onclick="() => HandleButtonClick(idp.Slug)">
                        @idp.Name
                    </button>

                }
            }
            else
            {
                <p>No social IDPs available.</p>
            }
        </div>
    </div> 
</div>

@code {
    [Parameter]
    public EventCallback<string> ShowInfoMessage { get; set; }
    [Parameter]
    public EventCallback<OIDCPage> SetStep { get; set; }

    [CascadingParameter]
    public OIDCModel Model { get; set; }

    private void HandleButtonClick(string slug)
    {
        // Handle the button click event here
        Console.WriteLine($"Button clicked: {slug}");
    }
    private async void HandleSigninClick()
    {
        // Handle the signup button click event here
        Console.WriteLine("SigninUserName button clicked");
        // Call SetStep with the desired step value
        await SetStep.InvokeAsync(OIDCPage.SigninUserName);
    }
    private void HandleForgotPasswordClick(){
        Console.WriteLine("HandleForgotPasswordClick Up button clicked");
    }
    private async void HandleBackClick()
    {
        // Handle the signup button click event here
        Console.WriteLine("back button clicked");
        // Call SetStep with the desired step value
        await SetStep.InvokeAsync(OIDCPage.SigninUserName);
    }
    private async void HandleValidSubmit()
    {
        // Handle the next button click event here
        Console.WriteLine("Next button clicked");
        var request = new SignupRequest
        {
            Email = Model.Email,
            Password = Model.Password
        };
        var response = await RageApiService.SignupRequestAsync(request);
        if (response != null)
        {
            // show info message
            await ShowInfoMessage.InvokeAsync("User already exists");
            await SetStep.InvokeAsync(OIDCPage.SigninUserNamePassword);
            return;
        }
        // username doesn't exist so we can proceed to the next step
        await SetStep.InvokeAsync(OIDCPage.SignUpUserNamePassword);
    }
}
