@using BlazorOIDCFlow.Contracts
@using BlazorOIDCFlow.Services
@inject IRageApiService RageApiService
@inject RedirectService RedirectService

<div class="card">
    <div class="card-header">
        Sign Up
        <button class="tab-option" @onclick="HandleSigninClick">Sign In</button>
    </div>
    <div class="card-body">
    <form>
         <div class="form-group mb-3">
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="Enter email" 
                       @bind-value="Model.UserName" />
  
        </div>
            <!-- Wizard Buttons -->
            <div class="d-flex justify-content-end mb-3 wizard-buttons">
                <div>
                    <button type="button" class="btn btn-primary" @onclick="HandleNextClick">Next</button>
                </div>
            </div>

   
        <div class="form-group">
            <button type="button" class="btn btn-link mt-3" @onclick="HandleForgotPasswordClick">Forgot Password?</button>
        </div>


    </form>
        <!-- Separator -->
        <hr />
        <!-- Paragraph -->
        <p class="text-center">or sign up with a social provider</p>

        <div class="d-flex justify-content-around social-buttons">
    @if (Model?.Manifest?.SocialIdps != null)
    {
        @foreach (var idp in Model.Manifest.SocialIdps)
        {
            <button type="button" class="btn btn-info" @onclick="() => HandleButtonClick(idp.Slug)">
                @idp.Name
            </button>

        }
    }
    else
    {
        <p>No social IDPs available.</p>
    }
        </div>
    </div>
    
</div>

@code {
    [Parameter]
    public EventCallback<string> ShowInfoMessage { get; set; }
    [Parameter]
    public EventCallback<OIDCPage> SetStep { get; set; }

    [CascadingParameter]
    public OIDCModel Model { get; set; }

    private void HandleButtonClick(string slug)
    {
        // Handle the button click event here
        Console.WriteLine($"Button clicked: {slug}");
    }
    private async void HandleSigninClick()
    {
        // Handle the signup button click event here
        Console.WriteLine("SigninUserName button clicked");
        // Call SetStep with the desired step value
        await SetStep.InvokeAsync(OIDCPage.SigninUserName);
    }
    private void HandleForgotPasswordClick(){
        Console.WriteLine("HandleForgotPasswordClick Up button clicked");
    }
    private async void HandleNextClick()
    {
        // Handle the next button click event here
        Console.WriteLine("Next button clicked");
        var request = new VerifyUsernameRequest
            {
                UserName = Model.UserName
            };
        var response = await RageApiService.VerifyUsernameAsync(request);
        if (response != null)
        {
            // show info message
            await ShowInfoMessage.InvokeAsync("User already exists");
            await SetStep.InvokeAsync(OIDCPage.SigninUserNamePassword);
            return;
        }
        // username doesn't exist so we can proceed to the next step
        await SetStep.InvokeAsync(OIDCPage.SignUpUserNamePassword);
    }
}
