@inject IStringLocalizer<App> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="">
            <svg width="139" height="40" viewBox="0 0 139 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.3072 23.7224H32.6574V17.0259C32.6574 16.9679 32.6318 16.9131 32.587 16.8783L31.3366 15.8901C31.2904 16.0061 31.225 16.1105 31.1436 16.1994L32.3072 17.1179V23.7224V23.7224Z" fill="#51C0AC" />
                <path d="M32.6583 26.5199H32.3081V37.9397H32.6583V26.5199Z" fill="#51C0AC" />
                <path d="M18.9743 19.5817H19.7239C19.7467 19.5817 19.7687 19.584 19.7915 19.5848V17.1268C19.7915 16.9637 19.7085 16.8121 19.5749 16.7294L11.7125 11.8723V11.9821C11.7125 12.2836 11.5847 12.555 11.3828 12.739L18.9149 17.392V19.5855C18.9339 19.5832 18.9545 19.5817 18.9743 19.5817Z" fill="#51C0AC" />
                <path d="M10.7598 37.9355C10.7803 37.9355 10.8016 37.9378 10.8229 37.9386V12.9812C10.8016 12.9827 10.7803 12.9843 10.7598 12.9843H10.0102C9.98814 12.9843 9.96758 12.9827 9.94629 12.9812V37.9394C9.96758 37.9386 9.9874 37.9363 10.0102 37.9363H10.7598V37.9355Z" fill="#51C0AC" />
                <path d="M7.89983 13.317C7.85577 13.3518 7.83008 13.4059 7.83008 13.4647V23.7232H8.18029V13.5567L9.31167 12.6637C9.23237 12.5732 9.16777 12.4673 9.12372 12.3513L7.89983 13.317Z" fill="#51C0AC" />
                <path d="M8.18029 26.5199H7.83008V37.9358H8.18029V26.5199Z" fill="#51C0AC" />
                <path d="M28.8082 15.8344L19.0435 25.8617C18.9591 25.9491 18.9106 26.0673 18.9106 26.1926V37.9395C18.9334 37.9379 18.9554 37.9356 18.9782 37.9356H19.7278C19.7476 37.9356 19.7674 37.9379 19.7873 37.9387V26.3859L29.4455 16.4684C29.1482 16.3787 28.9095 16.1398 28.8082 15.8344Z" fill="#51C0AC" />
                <path d="M29.7071 16.5087C29.6932 16.5087 29.6792 16.5063 29.666 16.5063V37.9388C29.6866 37.938 29.7079 37.9357 29.7292 37.9357H30.4788C30.5001 37.9357 30.5213 37.938 30.5426 37.9388V16.504C30.5147 16.5063 30.4861 16.5087 30.4575 16.5087H29.7071Z" fill="#51C0AC" />
                <path d="M21.8365 31.1353H21.4863V37.9361H21.8365V31.1353Z" fill="#51C0AC" />
                <path d="M39.2694 13.6796C38.2225 11.047 36.7247 8.67719 34.8202 6.63678C32.9092 4.59018 30.6882 2.9812 28.2184 1.85622C26.0584 0.871969 23.7898 0.297499 21.4551 0.139771C21.461 0.181522 21.4646 0.2225 21.4646 0.265798V1.04825V1.05521C21.4646 1.06449 21.4639 1.07222 21.4632 1.08073C23.6731 1.23768 25.8213 1.78432 27.866 2.716C30.2301 3.79381 32.357 5.33397 34.1866 7.29398C36.0126 9.24934 37.4464 11.5202 38.4501 14.0423C39.4867 16.6502 40.0132 19.4066 40.0132 22.2356C40.0132 25.5688 39.2915 28.7551 37.8686 31.7047C36.6939 34.1402 35.0508 36.3384 33.0773 38.1252C33.3842 38.2164 33.6169 38.4924 33.6595 38.8326C35.7189 36.9662 37.4347 34.6714 38.6608 32.1284C40.1483 29.0458 40.9015 25.7172 40.9015 22.2349C40.9015 19.2805 40.3524 16.4028 39.2694 13.6796Z" fill="#51C0AC" />
                <path d="M36.5413 19.0666C34.5252 10.3993 27.1129 4.21545 18.5383 4.21545C13.5869 4.21545 8.93067 6.24582 5.42933 9.93387C1.92798 13.6212 0 18.5239 0 23.7382C0 26.851 0.712163 29.9468 2.06013 32.6923C3.22309 35.0614 4.86033 37.1806 6.82649 38.8716C6.85292 38.5267 7.07464 38.2399 7.37566 38.134C5.50935 36.5258 3.95508 34.5116 2.85086 32.2625C1.54987 29.612 0.890571 26.7443 0.890571 23.7382C0.890571 18.7736 2.72604 14.1059 6.05926 10.5957C9.39321 7.08471 13.8255 5.15177 18.539 5.15177C26.64 5.15177 33.6508 10.9491 35.6331 19.1007C35.7065 19.0782 35.7829 19.0659 35.86 19.0659H36.5413V19.0666Z" fill="#51C0AC" />
                <path d="M22.2718 30.1317V29.3423C22.2718 29.1954 22.1588 29.0763 22.0193 29.0763H21.2697C21.1302 29.0763 21.0171 29.1954 21.0171 29.3423V30.1317C21.0171 30.2786 21.1302 30.3977 21.2697 30.3977H22.0193C22.1588 30.3977 22.2718 30.2786 22.2718 30.1317Z" fill="white" />
                <path d="M30.7088 15.9155V15.1261C30.7088 14.9799 30.595 14.8601 30.4563 14.8601H29.7067C29.5672 14.8601 29.4541 14.9799 29.4541 15.1261V15.9155C29.4541 16.0624 29.5672 16.1815 29.7067 16.1815H30.4563C30.5958 16.1807 30.7088 16.0624 30.7088 15.9155Z" fill="white" />
                <path d="M18.9745 21.6412H19.7241C19.8636 21.6412 19.9766 21.5213 19.9766 21.3752V20.5858C19.9766 20.4389 19.8636 20.3198 19.7241 20.3198H18.9745C18.835 20.3198 18.7212 20.4389 18.7212 20.5858V21.3752C18.7212 21.5213 18.835 21.6412 18.9745 21.6412Z" fill="white" />
                <path d="M10.7595 11.3359H10.0099C9.87039 11.3359 9.75732 11.455 9.75732 11.6019V12.3913C9.75732 12.5375 9.87039 12.6573 10.0099 12.6573H10.7595C10.899 12.6573 11.0113 12.5375 11.0113 12.3913V11.6019C11.0113 11.455 10.899 11.3359 10.7595 11.3359Z" fill="white" />
                <path d="M8.38058 24.4608H7.63098C7.49148 24.4608 7.37842 24.5791 7.37842 24.726V25.5154C7.37842 25.6623 7.49148 25.7814 7.63098 25.7814H8.38058C8.52008 25.7814 8.63314 25.6623 8.63314 25.5154V24.726C8.63314 24.5791 8.52008 24.4608 8.38058 24.4608Z" fill="white" />
                <path d="M10.7595 38.675H10.0099C9.87039 38.675 9.75732 38.7941 9.75732 38.941V39.7304C9.75732 39.8766 9.87039 39.9956 10.0099 39.9956H10.7595C10.899 39.9956 11.0113 39.8766 11.0113 39.7304V38.941C11.0113 38.7941 10.899 38.675 10.7595 38.675Z" fill="white" />
                <path d="M19.7287 38.675H18.9791C18.8396 38.675 18.7266 38.7941 18.7266 38.941V39.7304C18.7266 39.8766 18.8396 39.9956 18.9791 39.9956H19.7287C19.8682 39.9956 19.9813 39.8766 19.9813 39.7304V38.941C19.9805 38.7941 19.8675 38.675 19.7287 38.675Z" fill="white" />
                <path d="M22.0363 38.675H21.2867C21.1472 38.675 21.0342 38.7941 21.0342 38.941V39.7304C21.0342 39.8766 21.1472 39.9956 21.2867 39.9956H22.0363C22.1751 39.9956 22.2889 39.8766 22.2889 39.7304V38.941C22.2889 38.7941 22.1751 38.675 22.0363 38.675Z" fill="white" />
                <path d="M30.4792 38.675H29.7296C29.5901 38.675 29.4771 38.7941 29.4771 38.941V39.7304C29.4771 39.8766 29.5901 39.9956 29.7296 39.9956H30.4792C30.6187 39.9956 30.7318 39.8766 30.7318 39.7304V38.941C30.7318 38.7941 30.6187 38.675 30.4792 38.675Z" fill="white" />
                <path d="M20.8571 0.107472C20.8102 0.0432979 20.7375 0 20.6545 0H19.9049C19.7661 0 19.6523 0.119069 19.6523 0.265973V1.05539C19.6523 1.20306 19.7661 1.32213 19.9049 1.32213H20.6545C20.794 1.32213 20.9071 1.20306 20.9071 1.05539V1.04843V0.265973C20.9078 0.206438 20.888 0.151543 20.8571 0.107472Z" fill="white" />
                <path d="M7.37842 38.941V39.3299V39.7312C7.37842 39.8773 7.49148 39.9964 7.63098 39.9964H8.38058C8.52008 39.9964 8.63314 39.8773 8.63314 39.7312V38.9418C8.63314 38.7949 8.52008 38.6758 8.38058 38.6758H8.03184H7.63024C7.49148 38.675 7.37842 38.7941 7.37842 38.941Z" fill="white" />
                <path d="M32.8584 38.6786H32.4399H32.1088C31.9693 38.6786 31.8569 38.7977 31.8569 38.9446V39.734C31.8569 39.8809 31.9693 40 32.1088 40H32.8584C32.9986 40 33.111 39.8809 33.111 39.734V39.3134V38.9446C33.1102 38.7977 32.9979 38.6786 32.8584 38.6786Z" fill="white" />
                <path d="M33.109 25.5154V24.726C33.109 24.5791 32.9966 24.4608 32.8564 24.4608H32.1068C31.9673 24.4608 31.855 24.5791 31.855 24.726V25.5154C31.855 25.6623 31.9673 25.7814 32.1068 25.7814H32.8564C32.9966 25.7814 33.109 25.6623 33.109 25.5154Z" fill="white" />
                <path d="M36.6076 20.9734C36.7471 20.9734 36.8602 20.8551 36.8602 20.7074V19.918C36.8602 19.7943 36.7794 19.6915 36.6708 19.6621C36.6509 19.6575 36.6296 19.6528 36.6076 19.6528H35.858C35.8243 19.6528 35.7919 19.6598 35.7618 19.6729C35.6708 19.7124 35.6055 19.8075 35.6055 19.918V20.7074C35.6055 20.8551 35.7185 20.9734 35.858 20.9734H36.6076Z" fill="white" />
                <path d="M62.4453 16.0019V28.924H60.4003V20.3959L55.7549 27.4589L51.1819 20.4465V28.9226H49.1211V16.0005H50.5371L55.7733 23.978L61.0451 16.0005H62.4453V16.0019Z" fill="white" />
                <path d="M76.5216 26.8911H70.5865L69.8153 28.9237H67.5571L72.9013 16.0016H74.2094L79.572 28.9237H77.294L76.5216 26.8911ZM75.8781 25.1506L73.5632 19.0358L71.2511 25.1506H75.8781Z" fill="white" />
                <path d="M94.3667 19.7238C94.3667 21.8084 92.6638 23.393 90.4938 23.393H86.6564V28.922H84.5942V15.9999H90.4938C92.6638 16.0013 94.3667 17.6743 94.3667 19.7238ZM92.3401 19.7407C92.3401 18.586 91.4084 17.8288 90.2253 17.8288H86.6564V21.6371H90.2253C91.4097 21.6371 92.3401 20.9291 92.3401 19.7407Z" fill="white" />
                <path d="M109.468 19.7238C109.468 21.8084 107.764 23.393 105.594 23.393H101.756V28.922H99.6943V15.9999H105.594C107.764 16.0013 109.468 17.6743 109.468 19.7238ZM107.441 19.7407C107.441 18.586 106.508 17.8288 105.325 17.8288H101.756V21.6371H105.325C106.508 21.6371 107.441 20.9291 107.441 19.7407Z" fill="white" />
                <path d="M116.961 17.8288V21.55H121.911V23.3747H116.961V27.0972H122.664V28.922H114.898V15.9999H122.664V17.8274H116.961V17.8288Z" fill="white" />
                <path d="M128.242 16.0016H132.223C136.204 16.0016 139 18.8967 139 22.4619C139 26.0285 136.203 28.9223 132.223 28.9223H128.242V16.0016ZM132.169 27.0638C134.948 27.0638 136.886 25.0986 136.886 22.4633C136.886 19.8281 134.948 17.8643 132.169 17.8643H130.304V27.0638H132.169Z" fill="white" />
            </svg>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> @Localizer["label_profile"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <span class="bi bi-gear-wide-nav-menu" aria-hidden="true"></span> @Localizer["label_settings"]
            </NavLink>
            <ul class="dropdown-menu">
                <li>
                    <NavLink class="nav-link text-dark" href="settings/password" Match="NavLinkMatch.All">
                        <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> @Localizer["label_password"]
                    </NavLink>
                </li>
               
            </ul>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
