@page "/"

@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JS
@inject IRageApiService RageApiService
@inject RedirectService RedirectService
@inject AppData AppData
@inject AppSettings AppSettings

<PageTitle>@AppSettings.AppName</PageTitle>

<h1>@AppSettings.AppName</h1>

